In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("trainData.csv")
df1=pd.read_csv('testdata.csv')

In [4]:
df.isnull().sum()
#df1.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
df1.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [6]:
df2=df.append(df1)

C:\Users\user8\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [7]:
df2

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,4009,1777.0,1.0,3+,Not Graduate,Male,113.0,360.0,LP002971,NaN,Yes,Urban,Yes
363,4158,709.0,1.0,0,Graduate,Male,115.0,360.0,LP002975,NaN,Yes,Urban,No
364,3250,1993.0,NaN,0,Graduate,Male,126.0,360.0,LP002980,NaN,No,Semiurban,No
365,5000,2393.0,1.0,0,Graduate,Male,158.0,360.0,LP002986,NaN,Yes,Rural,No
366,9200,0.0,1.0,0,Graduate,Male,98.0,180.0,LP002989,NaN,No,Rural,Yes

In [8]:
from sklearn import preprocessing

In [9]:
le=preprocessing.LabelEncoder()

In [23]:
df2['Gender']=le.fit_transform(df2['Gender'].astype(str))

In [11]:
df2['Married']=le.fit_transform(df2['Married'].astype(str))

In [12]:
df2['Dependents']=le.fit_transform(df2['Dependents'].astype(str))

In [13]:
df2['Education']=le.fit_transform(df2['Education'].astype(str))

In [14]:
df2['Self_Employed']=le.fit_transform(df2['Self_Employed'].astype(str))

In [15]:
df2['Property_Area']=le.fit_transform(df2['Property_Area'].astype(str))

In [16]:
df2['Gender'].value_counts()

Male      775
Female    182
Name: Gender, dtype: int64

In [17]:
df2['Married'].value_counts()

1    631
0    347
2      3
Name: Married, dtype: int64

In [18]:
df2['Self_Employed'].value_counts()

0    807
1    119
2     55
Name: Self_Employed, dtype: int64

In [19]:
df2['Property_Area'].value_counts

<bound method IndexOpsMixin.value_counts of 0      2
1      0
2      2
3      2
4      2
      ..
362    2
363    2
364    1
365    0
366    0
Name: Property_Area, Length: 981, dtype: int32>

In [20]:
import random

In [24]:
df2['Gender'].median(axis=0)

1.0

In [25]:
df2['Married'].median(axis=0)

1.0

In [26]:
df2['Self_Employed'].median(axis=0)

0.0

In [31]:
df2['Property_Area'].median(axis=0)

1.0

In [32]:
df2['LoanAmount'].mean()

142.51153039832286

In [33]:
df2['Dependents'].mean()

0.8695208970438328

In [ ]:
df2[]